<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.brilliantbear.putdownthephone"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/phone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.WatchedService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".Activity.SettingsActivity">
        </activity>
        <activity android:name=".Activity.AppLockActivity">
        </activity>
        <activity android:name=".Activity.AlarmActivity">
        </activity>

        <receiver
            android:name=".AdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock_screen"/>
            <intent-filter>
                <action
                    android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
